a:link {
  color: #ff9900;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #ffcc99;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #cc3300;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #cc9900;
  background-color: transparent;
  text-decoration: underline;
}

h1, h2, h3, h4, h5{
  color: #ff9900;
  margin-left: 20px;
}


